{% extends "base.html" %}

{% block content %}
<h2>Lista de Productos</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Costo</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id_producto }}</td>
            <td>{{ producto.nombre_producto }}</td>
            <td>{{ producto.costo_producto }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
